* {
  box-sizing: border-box;
  background-color: #E9C46A;
}
.clear {
	clear: both;
}
h1 {
	text-decoration: none;
	text-align: center;
	font-size: 500%;
	background-image: url("http://www.bwt-group.com/SiteCollectionImages/Geschaeftsbereiche-Produkte/Hotellerie-Gastronomie-Vending/Internationale_Hotellerie/banner_meerwasser_990x348_bwt.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	margin: 0 0;
}
h1 p {
	text-align: center;
	padding:auto;
}
#halp {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
	/*background-image: url("http://www.bwt-group.com/SiteCollectionImages/Geschaeftsbereiche-Produkte/Hotellerie-Gastronomie-Vending/Internationale_Hotellerie/banner_meerwasser_990x348_bwt.jpg");*/
	width: 100%;
	background-position: center;
	display: block;
	background-repeat: no-repeat;
	padding: auto;
}
#Res {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
	size: 20%;
	background-color: #38040E;
}
#list {
	margin:auto;
}
#items {
	margin: auto;
	display: block;
	list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}
#items li img {
	width: 250px;
	height: 200px;
	padding:auto;
	margin: auto;
	display: block;
	float: left;
}
#items li p {
	width: 250px;
	height: 200px;
	margin-bottom: 50%;
}
body {
	background-color: grey;
}
ul {
	text-align: center;
	color: white;
}
li {
	display: inline-block;
	margin-right: 26px;
}
a:visited {
	color: White;
}
a:hover {
	color: 
}
#body {
	background-color: #E9C46A;
			}
#Me {
	font-family: 'Yatra One', cursive;
	background-color: #38040E;
    padding: 100px;
    width: 60%;
    margin: 100px auto;
    color: white;
}
#MenuB {
	background-color: #E9C46A;
}
h2 {
	text-align: center;
	font-size: 45px;
	color: #E9C46A;
}
.Logo {
	width: 300px;
	height: 150px;
	margin: auto;
	display: block;
	margin: 0 0;
	padding:auto;
}
.title {

}
.entree {
	font-size: 50px;
	text-align: center;

}
.social { 
	color: #E9C46A;
	width: 100px;
	height: 100px;
	align-items: center;
}
footer ul {
	float: left;
	width: 50%;
}

footer .footer-info {
	float: left;
	width: 50%;
	padding: 0;
}
